body {
  font-family: Arial, sans-serif;
  background-color: #212121;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

#box{
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 100px auto;
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }
 
.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
}
 
.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
}

@media only screen and (max-width: 768px) {
  [class*="btn"] {
    width: 100%;
  }
}

.character-preview {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.character-options, .sub-options {
  text-align: center;
  margin-top: 20px;
}

.button, .sub-options button {
  background-color: #25a5be;
  color: white;
  padding: 10px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.oogabooga {
  margin: 25px 10px;
}

.sub-options button {
  margin: 0px 0px 20px 0px;
}

.button:hover, .sub-options button:hover {
  background-color: #166b75;
}

.buttonCharacter {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }
 
.buttonCharacter:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px yellowgreen,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
}
 
.buttonCharacter:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px yellowgreen,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
}

@media only screen and (max-width: 768px) {
  [class*="buttonCharacter"] {
    width: 100%;
  }
}

.image-container {
  position: relative;
  width: 176px;
  height: auto;
  margin-top: 20px;
}
.single{
  width: 200px;
  height: 420px;
}

.alpaca-part {
  position: absolute;
  width: 100%;
  height: 100%;
}