body {
  background: #2596be;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 10px;
  width: 95%;
  height: 95%;
  overflow: hidden;
  padding: 10px;
  
}

.photo img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  background-size: contain;
  overflow: hidden;
  border-radius: 5px;
}

.photo div {
  overflow: hidden;
}

.photo img:hover {
  opacity: 0.3;
}

.title {
  color: #2587be;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2em;
}

.title-area {
  background: #d9cfc9;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
              rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
              #D6D6E7 0 -3px 0 inset;
}

h1 {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.area {
  background: #25a5be;
  border-radius: 8px;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
              rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
              #D6D6E7 0 -3px 0 inset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  font-family: "Great vibes", fantasy;
  font-size: 1.5em;
}
